@import '/src/shared/styles/';

.side-bar {
  padding: 24px 32px 32px 0;
  min-width  : 270px;
  display: flex;
  flex-direction: column;
  flex: 0 0;

  background-color: var(--COLOR_WHITE_1);
  box-shadow: -5px 0 14px 2px rgba(0, 0, 0, 0.1);

  &__menu {
    margin-top: 32px;
    display       : flex;
    flex-direction: column;
    gap: 16px;
  }

  &__bottom {
    margin-top: auto;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}