@import '/src/shared/styles/';

.avatar {
  border: 2px solid var(--COLOR_BLACK_1);
  border-radius: 50%;

  overflow: hidden;

  &__placeholder,
  &__image {
    width: 30px;
    height: 30px;
  }

  &__placeholder {
    background: url('../../../shared/assets/images/icons/avatar-placeholder.svg') no-repeat 50% 5px;
    background-size: cover;
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }
}