@import '/src/shared/styles/';

.calendar {
  width         : 100%;
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;

  @media screen and (min-width: $bp-desktop-l) {
    padding: 0 64px;
  }

  &__subtitle {
    @include font-16-regular;

    margin-top: 16px;
    max-width : 55%;

    color: var(--COLOR_GREY_2);
  }

  &__full-view {
    margin-top: 32px;
  }

  &__week-days {
    padding-bottom       : 16px;
    display              : grid;
    grid-template-columns: repeat(7, 1fr);
    gap                  : 20px;

    @media screen and (min-width: $bp-desktop) {
      gap: 32px;
    }
  }

  &__day {
    padding-bottom: 4px;
  }

  &__day-name {
    @include font-16-bold;

    color         : var(--COLOR_GREY_2);
    text-transform: uppercase;
  }

  &__dates {
    display              : grid;
    grid-template-columns: repeat(7, 1fr);
    gap                  : 20px;

    @media screen and (min-width: $bp-desktop) {
      gap: 32px;
    }
  }

  &__day-view {
    margin-top           : 32px;
    display              : grid;
    grid-template-columns: 400px 1fr;
    gap                  : 32px;
  }
}