@import './variables.scss';

//Text

@mixin font-base {
  font-family   : 'Ubuntu', sans-serif;
  line-height   : 140%;
  letter-spacing: normal;
  font-style    : normal;
}

@mixin buttons-text() {
  @include font-base;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin font-14-regular() {
  @include font-base;
  font-size     : 14px;
  font-weight   : 400;
}

@mixin font-16-regular() {
  @include font-base;
  font-size     : 16px;
  font-weight   : 400;
}

@mixin font-16-bold() {
  @include font-base;
  font-size     : 16px;
  font-weight   : 500;
}

@mixin font-20-regular() {
  @include font-base;
  font-size     : 20px;
  font-weight   : 400;
}

@mixin font-20-bold() {
  @include font-base;
  font-size     : 20px;
  font-weight   : 500;
}

@mixin mono-font-16-regular() {
  font-family   : 'SpaceMono', sans-serif;
  font-size     : 16px;
  line-height   : 130%;
  font-weight   : 400;
  letter-spacing: normal;
}

@mixin mono-font-16-bold() {
  font-family   : 'SpaceMono', sans-serif;
  font-size     : 16px;
  line-height   : 130%;
  font-weight   : 500;
  letter-spacing: normal;
}

@mixin section-title() {
  @include font-base;
  font-size     : 24px;
  font-weight   : 500;

  @media screen and (min-width: $bp-desktop-xs) {
    font-size: 28px;
  }
}

//Default styles

@mixin section-style() {
  padding: $sectionPadding;
  width  : 100%;
  height : 100%;

  background   : var(--COLOR_WHITE_1);
  box-shadow   : $sectionShadow;
  border-radius: $borderRadius;
}