@import '/src/shared/styles/';

.day-info {
  height        : 100%;
  display       : flex;
  flex-direction: column;

  &__header {
    padding-bottom : 4px;
    display        : flex;
    justify-content: space-between;
  }

  &__date {
    &-value {
      @include font-16-bold;
    }
  }

  &__content {
    @include section-style;

    overflow : auto;
    flex-grow: 1;
  }
}