@import '/src/shared/styles/';

.month-card {
  display       : flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 10 / 9;

  &__days {
    padding              : 0 0 8px;
    display              : grid;
    grid-template-columns: repeat(7, 1fr);

    border-bottom: 2px solid var(--COLOR_GREY_1);
  }

  &__day {
    @include mono-font-16-regular;

    text-align : center;
    user-select: none;
  }

  &__dates {
    margin-top           : 8px;
    display              : grid;
    grid-template-columns: repeat(7, min-content);
    justify-content      : space-around;
    flex-grow: 1;
  }

  &__date {
    @include mono-font-16-regular;

    position: relative;
    z-index : 1;

    padding        : 8px;
    display        : flex;
    justify-content: center;
    align-items    : center;

    border    : none;
    background: none;

    text-align : center;
    user-select: none;
    cursor     : pointer;

    &::after {
      content: '';

      position: absolute;
      top     : 50%;
      left    : 50%;
      z-index : -1;

      height      : 40px;
      aspect-ratio: 1 / 1;

      opacity      : 0;

      transform : translate(-50%, -50%);
      transition: opacity 0.3s ease;
    }

    &:not(.month-card__date_today, .month-card__date_selected):hover &-number {
      color: $COLOR_BLACK_1;
    }

    &:not(.month-card__date_today, .month-card__date_selected):hover::after {
      opacity         : 1;
      background-color: $COLOR_GREY_1;
    }

    &_faded {
      opacity: 0.3;
    }

    &_today &-number {
      color: $COLOR_WHITE_1;
    }

    &_today::after {
      opacity         : 1;
      background-color: $COLOR_BLUE_1;
    }

    &_selected::after {
      border: 1px solid var(--COLOR_BLACK_1);
    }

    &_selected:not(&_today)::after {
      opacity: 1;
    }
  }
}