@import 'normalize.css';
@import './index.css';
@import './shared/styles/';

html {
  background-color: var(--COLOR_WHITE_2);
}

* {
  color: var(--COLOR_BLACK_2);
  transition: background 0.3s ease;
}

#root,
.app {
  height: 100vh;
}

.app {
  display: flex;
  overflow: hidden;

  &__page-content {
    padding: 32px;
    width  : 100%;
    display: flex;
    flex-direction: column;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--COLOR_WHITE_2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--COLOR_BLUE_1);
    }
  }
}